<template>
    <div class="chart">
        <h2>Allocation of working hours</h2>
        <bar-chart 
            id="workingtime-day-chart"
            ref="barChart"
            v-if="barData"
            :data="barData" 
            xkey="day"
            ykeys='["time"]'
            bar-colors='[ "rgba(179,127,29,1)" ]'
            grid=true
            resize="true"
            redraw="true"
            labels='[ "Heures" ]'>
        </bar-chart>
        <p v-else>No data to display</p>
    </div>
</template>

<script>
import axios from 'axios'
import { BarChart } from 'vue-morris'
import moment from 'moment'
moment.locale('en-AU');

export default {
    data() {
        return {
            barData: this.getWorkingTimes()
        };
    },
    methods: {
        getWorkingTimes: function () {
            var instance = this;
            var barData = [];
            var dates = {};
            axios
            .get("http://localhost:4000/api/workingtimes/" + this.$login)
            .then((response) => {
                var responseData = response.data.data;
                for(var i = 0; i < responseData.length; i ++) {
                    var start = moment(responseData[i].start);
                    var end = moment(responseData[i].end);
                    var diff = moment.duration(end.diff(start)).asHours();
                    var key = start.format("Do MMMM YYYY")
                    if (!Object.prototype.hasOwnProperty.call(dates, key)) {
                        dates[key] = diff;
                    } else {
                        dates[key] = dates[key] + diff;
                    }
                }
                for(i = 0; i < Object.keys(dates).length; i++) {
                    key = Object.keys(dates)[i];
                    barData.push({ "time": dates[key], "day": key});
                }

                if (barData.length > 0) {
                    instance.barData = barData;
                } else {
                    instance.barData = false;
                }
            })
            .catch((error) => {
                console.log(error);
            })
        }
    },
    components: {
        BarChart
    },
    watch: {
        selectedUser: function () {
            this.barData = this.getWorkingTimes()
        },
        userMenuOpen: function () {
            setTimeout(function() {
                if (this.$refs.barChart) {
                    this.$refs.barChart.chart.redraw();
                }
            }, 3000);
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
html,body{
  background-color: #332f2f !important;
  background-image: none !important;
}
.chart h2 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;text-align: center;
}
</style>