<template>
  <div class="clockmanager">
    <form-component></form-component>
    <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">
                        <button v-on:click="getClockPopUp()" v-if="infoUser.role_id === 1 || 3" id="get-working-time" class="btn">
                            <i class="fas fa-search-plus fa-xl"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="clock in clocks" v-bind:key="clock.id">
                    <td class="text-center">{{ clock.time }}</td>
                    <td class="date text-center">{{ clock.status | moment }}</td>
                    <td class="date text-center">{{ clock.id | moment }}</td>
                    <td class="text-center">
                        <button v-on:click="updateClockPopUp(clock.id)" v-if="infoUser.role_id === 1 || 3"  id="update-clock" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="deleteClock(clock.id)" v-if="infoUser.role_id === 1 || 3" id="del-clock" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <vs-popup classContent="updateClockPopUp"  title="Update clock" :active.sync="popupUpdate">
            <div class="form">
                <div class="form-group">
                    <label>Time</label>
                    <input type="datetime-local" v-model="time" id="startDateForCreate" class="form-control">
                </div>
                <button v-on:click="updateClock()" class="">Update</button>
            </div>
        </vs-popup>

        <vs-popup classContent="displayClockPopUp"  title="Display clock" :active.sync="popupDisplay">
            <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Id</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="clock in allClocks" v-bind:key="clock.id">
                    <td class="text-center">{{ clock.time }}</td>
                    <td class="date text-center">{{ clock.status | moment }}</td>
                    <td class="date text-center">{{ clock.id | moment }}</td>
                    <td class="text-center">
                        <button v-on:click="updateClockPopUp(clock.id)" v-if="infoUser.role_id === 1 || 3"  id="update-clock" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="deleteClock(clock.id)" v-if="infoUser.role_id === 1 || 3" id="del-clock" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </vs-popup>
        <button class="btn btn-success" @click="clock()" v-if="clockData.status === false || null">Clock IN</button>
        <button class="btn btn-danger" @click="clock()" v-if="clockData.status === true">Clock OUT</button>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      info: null,
      infoUser : null,
      clockData:null,
      clocks:null,
      time: '',
      popupUpdate:false,
      popupDisplay:false,
      idUpdate:null
    }
  },
  created () {
      this.fetchData()
  },
  methods: {
    fetchData(){
      axios
        .get('http://localhost:4000/api/clocks/'+this.$login)
        .then(response => {
          this.clockData = response.data.data[response.data.data.length-1]
        })
        .catch(error => {
          console.log(error)
        }),
        axios
        .get('http://localhost:4000/api/clocks/' + this.$login)
        .then(response => {
          this.clocks = response.data.data
        })
        .catch(error => {
          console.log(error)
        }),
        axios
        .get('http://localhost:4000/api/clocks/')
        .then(response => {
          this.allClocks = response.data.data
        })
        .catch(error => {
          console.log(error)
        }),
        axios
        .get("http://localhost:4000/api/users/" + this.$login)
        .then((response) => {
          this.infoUser = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        })
    },
    updateClockPopUp: function(id) {
        this.popupUpdate = true
        this.idUpdate = id
    },
    getClockPopUp: function() {
        this.popupDisplay = true
    },
    updateClock () {
    axios({
        method: "PUT",
        url: "http://localhost:4000/api/clocks/" + this.idUpdate,
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          clocks: {time:this.time}
        },
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },
    deleteClock (id) {
      axios({
        method: "DELETE",
        url: "http://localhost:4000/api/clocks/" + id,
        headers: {
          "Content-Type": "application/json",
        },
        data: {},
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },
    clock() {
      axios({
        method: "POST",
        url: "http://localhost:4000/api/clocks/" + this.$login,
        headers: {
          "Content-Type": "application/json",
        },
        data: { status: !this.clockData.status },
      })
        .then((response) => {
          console.log(response);
          this.refresh();
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },
    refresh() {
      axios
        .get("http://localhost:4000/api/clocks/" + this.$login)
        .then((response) => {
          this.info = response.data.data[response.data.data.length - 1];
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
<style>
html,body{
  background-color: #332f2f !important;
  background-image: none !important;
}
</style>