<template>
  <div id="app">
    <router-view v-if="isLoggedIn"></router-view>
    <div class="container-fluid main-card">
      <div class="cruduser">
        <b-button v-b-modal.modal-1
          ><i class="fas fa-user-tie fa-2x"></i
        ></b-button>
        <b-modal id="modal-1" title="Utilisateur">
          <div class="avatar">
            <b-avatar
              src="https://img.20mn.fr/PI3Ol7lgRlGAs1BMQCgmEw/648x360_lama-rentre-game.jpg"
              size="6rem"
            ></b-avatar>
          </div>
          <div>
            <p class="card-title text-center">{{info.username}}</p>
            <p class="card-subtitle mb-2 text-muted text-center">{{info.email}}</p>
          </div>
          <form action="">
            <div class="inputcss">
              <input
                type="search"
                class="search-input"
                v-model="userId"
                placeholder="userId"
              />
              <input
                type="search"
                class="search-input"
                v-model="username"
                placeholder="username"
              />
              <input
                type="search"
                class="search-input"
                v-model="email"
                placeholder="email"
              />
            </div>
            <!-- <input class="form-control" type="text" v-model="userId" placeholder="userId" />
<input class="form-control" type="text" v-model="username" placeholder="username" />
<input class="form-control" type="text" v-model="email" placeholder="email"/> -->
            <div class="crud">
              <button class="h3 mb-2 crudbtn" @click="post_post()">
                <i class="fas fa-plus-circle"></i>
              </button>
              <button class="h3 mb-2 crudbtn" @click="update_update()">
                <i class="fas fa-user-edit"></i>
              </button>
              <button class="h3 mb-2 p-1 crudbtn" @click="delete_delete()">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </form>
        </b-modal>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      info: [],
      userId: "",
      username: "",
      email: "",
      password: "",
      role_id: "",
      roles: [],
      userIsLoggedIn: false,
      userIsLoggedInId:null
    };
  },

  created() {
    axios
      .get("http://localhost:4000/api/users/" + this.$login)
      .then((response) => {
        this.info = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      }),
      axios
        .get("http://localhost:4000/api/role/")
        .then((response) => {
          this.roles = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
  },

  methods: {
    post_post() {
      axios({
        method: "POST",
        url: "http://localhost:4000/api/users",
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          users: {
            username: this.username,
            email: this.email,
            password: this.password,
            role_id: this.role_id,
          },
        },
      })
        .then((response) => {
          console.log(response);
        })
        .catch((err) => console.log(err));
    },
    delete_delete() {
      axios({
        method: "DELETE",
        url: "http://localhost:4000/api/users/" + this.userId,
        headers: {
          "Content-Type": "application/json",
        },
        data: {},
      })
        .then((response) => {
          console.log(response);
        })
        .catch((err) => console.log(err));
    },
    update_update() {
      axios({
        method: "PUT",
        url: "http://localhost:4000/api/users/" + this.userId,
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          users: {
            username: this.username,
            email: this.email,
            password: this.password,
            role_id: this.role_id,
          },
        },
      })
        .then((response) => {
          console.log(response);
        })
        .catch((err) => console.log(err));
    },
    handleLoginResult({loginResult, loginId}) {
      this.userIsLoggedIn = loginResult
      this.userIsLoggedInId = loginId
    }
  },
  computed: {
    isLoggedIn() {
      return this.userIsLoggedIn
    }
  }
};
</script>
<style lang="scss">
body {
  background: rgb(51, 47, 47);
}
.size {
  width: 4rem;
  height: 6.5vh;
}

.myClassTest {
  right: 0px !important;
}

.modal-header {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.modal-footer {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.modal-body {
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(136, 132, 132);
}
.inputcss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cruduser {
  top: 8rem;
  position: absolute;
  right: 40px;
}

.box {
  background-color: white;
  border-radius: 3px;
  padding: 20px 40px;
}
.avatar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
.card-subtitle {
  margin-bottom: 2rem !important;
}

.crud {
  margin-top: 2.5rem;
  display: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .crudbtn {
    border: none;
    background: transparent;
    .fa-trash {
      color: rgb(161, 52, 33);
    }
    .fa-user-edit {
      color: Dodgerblue;
    }
  }
  .fa-plus-circle {
    color: #46c753;
  }
}

.modal-title {
  line-height: 1.5;
  color: rgba(179, 127, 29, 1);
  padding: center;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
  color: rgba(179, 127, 29, 1);
}
.card-header {
  background: transparent;
  min-width: 18rem;
}
// Range

/*--------------------
App
--------------------*/

.search-input {
  margin-bottom: 1.5rem;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #5a6674;
  border: none;
  appearance: none;
  outline: none;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (max-width: 1024px) {
  .rightSide {
    margin-top: 8rem;
  }
}
</style>