<template>
  <div class="homepage">
      <form-component></form-component>
      <!--div id="clock">
        {{updateTime()}}
        <p class="date">{{ date }}</p>
        <p class="time">{{ time }}</p>
        <p class="text">DIGITAL CLOCK with Vue.js</p>
        </!--div -->
        <div class="container"> 
        <div class="row">
            <div class="col-sm">
                <div class="card text-white bg-dark mb-3" v-if="clockData.status === true" style="max-width: 18rem;">
                    <div class="card-header">Last clock IN</div>
                    <div class="card-body">
                        <h5 class="card-title">{{clockData.time}}</h5>
                        <p class="card-text">No rest for the heroes !</p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3" v-if="clockData.status === false" style="max-width: 18rem;">
                    <div class="card-header">Last clock OUT</div>
                    <div class="card-body">
                        <h5 class="card-title">{{clockData.time}}</h5>
                        <p class="card-text">Yes, maybe a little bit...</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm" v-if="info.role_id === 1 || 3">
                <div class="card text-white bg-dark mb-3" id="scroll" style="width: 18rem;">
                <div class="card-header">
                    Number of employees - {{nbEmployee}}
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="user in users" v-bind:key="user.id" class="list-group-item" style="background-color: #343a40 !important;">{{user.username}} {{user.email}}</li>
                </ul>
                </div>
            </div>
            <div class="col-sm" v-if="info.role_id === 2">
                <div class="card text-white bg-dark mb-3" id="scroll" style="width: 18rem;">
                <div class="card-header">
                    Manager - {{nbManager}}
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="user in users" v-bind:key="user.id" class="list-group-item" style="background-color: #343a40 !important;">{{user.username}} {{user.email}}</li>
                </ul>
                </div>
            </div>
        </div>
        <ul class="row">
        <li class="col-12 col-md-6 col-lg-3" style="background-color: #343a40 !important;">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../assets/team.png" class="img-responsive" alt=""></figure>
            <h3>Web coder skull</h3>
            <p>Freelance Web Developer</p>
          </div>
        </li>
        </ul>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import * as moment from 'moment';
export default {
  data () {
    return {
      info: null,
      users:null,
      nbEmployee:null,
      nbManager: null,
      clockData:null,
    }
  },
  created(){
    axios
      .get("http://localhost:4000/api/users/")
      .then((response) => {
        this.nbEmployee = response.data.data.length;
      })
      .catch((error) => {
        console.log(error);
      }),
      axios
      .get("http://localhost:4000/api/users/managers")
      .then((response) => {
        this.nbManager = response.data.data.length;
      })
      .catch((error) => {
        console.log(error);
      }),
      axios
      .get("http://localhost:4000/api/users/" + this.$login)
      .then((response) => {
        this.info = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
      axios
      .get("http://localhost:4000/api/users/")
      .then((response) => {
        this.users = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
      axios
      .get("http://localhost:4000/api/role/")
      .then((response) => {
        this.roles = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
        axios
        .get('http://localhost:4000/api/clocks/'+this.$login)
        .then(response => {
          this.clockData = response.data.data[response.data.data.length-1]
          this.clockData.time = moment.utc(this.clockData.time).format("HH[h] mm[m]")
        })
        .catch(error => {
          console.log(error)
        })
  }
}
</script>
<style lang="scss">
html,body{
  background-color: #332f2f !important;
  background-image: none !important;
}
.inputcustom{
  margin-top: 1.5rem;
}
  .buttoncustom{
    width: 3rem !important;
    margin-left: 1rem;
  }
</style><style>
.card#scroll{
    height:300px;
    overflow:scroll;
    overflow-x:hidden;
}
.table {
    color: #FFF;
    background-color: #0f141c;
}
.table th {
    border: 0;
    background-color: #0f141c;
}
.table tr:nth-child(odd) {
    background-color: #505050;
}
.table tr:nth-child(even) {
    background-color: #333333;
}
.table td{
    border: 0;
}
i {
    color: rgba(179,127,29,1);
}

.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner { 
    border:1px solid #999999;
	text-align:center;
	margin-bottom:28px;
    padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.our-webcoderskull{
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:148px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

.container{
    margin-top:100px;
}

.list-group-item {
    background-color: none !important;
}

.card{
  height: auto;
}
</style>