<template>
<div style="background-image: url('../assets/wallpaper.png') !important">
  <div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email" v-model="email" class="form-control" placeholder="email" required>
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" v-model="password" class="form-control" placeholder="password" required>
					</div>
					<div class="form-group">
						<input @click="login_login()" type="submit" value="Login" class="btn float-right login_btn">
					</div>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a v-on:click="createUserPopUp()" href="#">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
      <!--h1 class="h3 mb-3 font-weight-normal">Please sign in</!--h1>
      <label class="sr-only">Email address</label>
      <input type="email" class="form-control" v-model="email" placeholder="Email address" required autofocus>
      <label class="sr-only">Password</label>
      <input type="password" class="form-control"  v-model="password" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" @click="login_login()">Sign in</button>
      <button-- v-on:click="createUserPopUp()" id="create-user" class="btn">Register</button-->
      <vs-popup classContent="createUserPopUp"  title="Add user" :active.sync="popupCreate">
            <div class="form">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" v-model="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" v-model="emailRegister" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" v-model="passwordRegister" class="form-control">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" v-model="role_id">
                      <option v-for="role in roles" v-bind:key="role.id" :value="role.id">{{role.name}}</option>
                    </select>
                </div>
                <button v-on:click="createUser()" class="btn btn-dark">Add</button>
            </div>
        </vs-popup>
</div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return {
      popupCreate: false,
      idUser : '',
      username: '',
      email:'',
      password: '',
      emailRegister: '',
      passwordRegister: '',
      role_id:null,
      roles:null
    }
  },
  created(){
    axios
      .get("http://localhost:4000/api/role/")
      .then((response) => {
        this.roles = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
  },
  name: 'TheLogin',
  methods: {
    login_login() {
      axios
      .get("http://localhost:4000/api/users/signin?email="+this.email+"&password="+this.password)
      .then((response) => {
        this.$emit('TheLogin::loginResult::loginId', {loginResult: true,loginId: response.data.data.id})
      })
      .catch((error) => {
        console.log(error);
      })
    },
    createUserPopUp: function() {
        this.popupCreate = true
    },
    createUser() {
      axios({
        method: "POST",
        url: "http://localhost:4000/api/users/",
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          users:{username:this.username, email:this.emailRegister, password: this.passwordRegister, role_id: this.role_id}
        },
      })
        .then((response) => {
          console.log(response);
          window.location.reload();
        })
        .catch((err) => console.log(err));
    }
  }
}
</script>
<style>
html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
</style>
