<template>
  <div class="users">
   <form-component></form-component>
    <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Username</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Role</th>
                    <th class="text-center">Team</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">
                        <button v-on:click="getWorkingTimePopUp()" v-if="info.role_id === 1 || 3" id="get-working-time" class="btn">
                            <i class="fas fa-search-plus fa-xl"></i>
                        </button>
                    </th>
                    <th class="text-center">
                        <button v-on:click="createUserPopUp()" v-if="info.role_id === 1 || 3" id="create-user" class="btn">
                            <i class="fas fa-plus-circle fa-xl"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" v-bind:key="user.id">
                    <td class="text-center">{{ user.username }}</td>
                    <td class="date text-center">{{ user.email }}</td>
                    <td class="text-center" v-if="user.role_id === 2">Employee</td>
                    <td class="text-center" v-if="user.role_id === 3">Manager</td>
                    <td class="text-center" v-if="user.role_id === 1">Administrator</td>
                    <td class="text-center">{{ user.role_id }}</td>
                    <td class="text-center">{{ user.id }}</td>
                    <td class="text-center">
                        <button v-on:click="updateUserPopUp(user.id)" v-if="info.role_id === 1 || 3"  id="update-user" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="deleteUser(user.id)" v-if="info.role_id === 1 || 3" id="del-user" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <vs-popup classContent="createUserPopUp"  title="Add user" :active.sync="popupCreate">
            <div class="form">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" v-model="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" v-model="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" v-model="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" v-model="role_id">
                      <option v-for="role in roles" v-bind:key="role.id" :value="role.id">{{role.name}}</option>
                    </select>
                </div>
                <button v-on:click="createUser()" class="">Add</button>
            </div>
        </vs-popup>

        <vs-popup classContent="updateUserPopUp"  title="Update user" :active.sync="popupUpdate">
            <div class="form">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" v-model="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" v-model="email" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" v-model="password" class="form-control">
                </div>
                <div class="form-group">
                    <label>Role</label>
                    <select class="form-control" v-model="role_id">
                      <option v-for="role in roles" v-bind:key="role.id" :value="role.id">{{role.name}}</option>
                    </select>
                </div>
                <button v-on:click="updateUser()" class="">Update</button>
            </div>
        </vs-popup>
  </div>
 
</template>
<script>
import axios from 'axios'
import '../../node_modules/vuesax/dist/vuesax.css'

export default {
  props:[
    'userIsLoggedInId'
  ],
  data () {
    return {
      info: null,
      userId:1,
      popupCreate: false,
      popupUpdate:false,
      users: null,
      username: '',
      email:'',
      password: '',
      role_id:null,
      idUpdate: null,
      roles:null,
      actualRole:''
    }
  },
  methods: {
    fetchData(){
        axios
      .get("http://localhost:4000/api/users/")
      .then((response) => {
        this.users = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      }),
      axios
      .get("http://localhost:4000/api/users/" + this.$login)
      .then((response) => {
        this.info = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
      axios
      .get("http://localhost:4000/api/role/")
      .then((response) => {
        this.roles = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
    },
    createUserPopUp: function() {
        console.log(this.userIsLoggedInId)
        this.popupCreate = true
    },
    updateUserPopUp: function(id) {
        this.popupUpdate = true
        this.idUpdate = id
    },
    createUser() {
      axios({
        method: "POST",
        url: "http://localhost:4000/api/users/",
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          users:{username:this.username, email:this.email, password: this.password, role_id: this.role_id}
        },
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },    
    deleteUser (id) {
      axios({
        method: "DELETE",
        url: "http://localhost:4000/api/users/" + id,
        headers: {
          "Content-Type": "application/json",
        },
        data: {},
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },
    updateUser () {
    axios({
        method: "PUT",
        url: "http://localhost:4000/api/users/" + this.idUpdate,
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          users:{username:this.username, email:this.email, password: this.password, role_id: this.role_id}
        },
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },
    getRoleById: function(idRole) {
      axios
      .get("http://localhost:4000/api/role/" + idRole)
      .then((response) => {
        this.actualRole = response.data.data.name;
      })
      .catch((error) => {
        console.log(error);
      })
    }
  },
  created(){
    this.fetchData()
  }
}
</script>
<style lang="scss">
.inputcustom{
  margin-top: 1.5rem;
}
  .buttoncustom{
    width: 3rem !important;
    margin-left: 1rem;
  }
</style><style>
.table {
    color: #FFF;
    background-color: #0f141c;
}
.table th {
    border: 0;
    background-color: #0f141c;
}
.table tr:nth-child(odd) {
    background-color: #505050;
}
.table tr:nth-child(even) {
    background-color: #333333;
}
.table td{
    border: 0;
}
i {
    color: rgba(179,127,29,1);
}
html,body{
  background-color: #332f2f !important;
  background-image: none !important;
}
</style>