<template>
  <div class="workingtime">
    {{ info }}
 <form-component></form-component>
  <!-- <input type="text"  />
  <input type="text" />
  <input type="text" />
  <button @click="post_post()">Submit</button>
  <button @click="delete_delete()">Delete</button>
  <button @click="update_update()">Update</button> -->
    
<div class="mainform">
  <div class="bg-contact2">
  <div class="wrap-contact2">
				<form class="contact2-form validate-form">
					<span class="contact2-form-title">
						Create a workingTime
					</span>

					<div class="wrap-input2 validate-input" data-validate="Usered is required">
						<input class="input2" type="text" v-model="userId" >
						<span class="focus-input2" data-placeholder="USERID"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input2" type="text" v-model="start" >
						<span class="focus-input2" data-placeholder="START"></span>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Message is required">
						<input class="input2" name="message" v-model="end"/>
						<span class="focus-input2" data-placeholder="END"></span>
					</div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
						
                <button class="contact2-form-btn" @click="post_post()">Submit</button>|
                <button class="contact2-form-btn" @click="delete_delete()">Delete</button>
                <button class="contact2-form-btn" @click="update_update()">Update</button>
						</div>
					</div>
				</form>
			</div>
  </div>
</div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: null,
      userId:'',
      start:'',
      end:''
    }
  },
  methods: {
    post_post () {
      axios({
        method: 'POST',
        url: 'http://localhost:4000/api/workingtimes/'+this.userId,
        headers: {
          'Content-Type': 'application/json'
        },
        data: {start: this.start, end: this.end}
      }).then(response => {
        console.log(response)
      }).catch(err => console.log(err))
    },
    delete_delete () {
      axios({
        method: 'DELETE',
        url: 'http://localhost:4000/api/workingtimes/'+this.userId,
        headers: {
          'Content-Type': 'application/json'
        },
        data: {}
      }).then(response => {
        console.log(response)
      }).catch(err => console.log(err))
    },
    update_update () {
      axios({
        method: 'PUT',
        url: 'http://localhost:4000/api/workingtimes/'+this.userId,
        headers: {
          'Content-Type': 'application/json'
        },
        data: {workingtimes:{start: this.start, end: this.end}}
      }).then(response => {
        console.log(response)
      }).catch(err => console.log(err))
    }
  }
}
</script>
<style lang="scss">
  
.mainform{
 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}   

input {
	outline: none;
	border: none;
}
button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}


// Reponsive à faire
.wrap-contact2 {
  max-width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}


.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}


.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;

  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}



.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}


textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}


/*------------------------------------------------------------------
[ Button ]*/
// 

.wrap-contact2-form-btn {
  display: flex;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: rgba(219,21,99,1);
  background: -webkit-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -o-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: -moz-linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  background: linear-gradient(-135deg, #d5007d, #e53935, #d5007d, #e53935);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;

 

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
</style>