<template>
  <div class="workingtimes">
   <form-component></form-component>
    <table class="table">
            <thead>
                <tr>
                    <th class="text-center">User</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Working Time</th>
                    <th class="text-center">Id</th>
                    <th class="text-center">
                        <button v-on:click="getWorkingTimePopUp()" v-if="info.role_id === 1 || 3" id="get-working-time" class="btn">
                            <i class="fas fa-search-plus fa-xl"></i>
                        </button>
                    </th>
                    <th class="text-center">
                        <button v-on:click="createWorkingTimePopUp()" v-if="info.role_id === 1 || 3" id="create-working-time" class="btn">
                            <i class="fas fa-plus-circle fa-xl"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="workingTime in workingTimes" v-bind:key="workingTime.id">
                    <td class="text-center">{{ workingTime.users }}</td>
                    <td class="date text-center">{{ workingTime.start | moment }}</td>
                    <td class="date text-center">{{ workingTime.end | moment }}</td>
                    <td class="text-center">{{ calcWorkingTime(workingTime.start, workingTime.end) }}</td>
                    <td class="text-center">{{ workingTime.id }}</td>
                    <td class="text-center">
                        <button v-on:click="updateWorkingTimePopUp(workingTime.id)" v-if="info.role_id === 1 || 3"  id="update-working-time" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="deleteWorkingtime(workingTime.id)" v-if="info.role_id === 1 || 3" id="del-working-time" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <vs-popup classContent="createWorkingTimePopUp"  title="Add working time" :active.sync="popupCreate">
            <div class="form">
                <div class="form-group">
                    <label>Start</label>
                    <input type="datetime-local" v-model="start" id="startDateForCreate" class="form-control">
                </div>
                <div class="form-group">
                    <label>End</label>
                    <input type="datetime-local" v-model="end" id="endDateForCreate" class="form-control">
                </div>
                <button v-on:click="createWorkingtimes()" class="">Add</button>
            </div>
        </vs-popup>

        <vs-popup classContent="updateWorkingTimePopUp"  title="Update working time" :active.sync="popupUpdate">
            <div class="form">
                <div class="form-group">
                    <label>Start</label>
                    <input type="datetime-local" v-model="start" id="startDateForCreate" class="form-control">
                </div>
                <div class="form-group">
                    <label>End</label>
                    <input type="datetime-local" v-model="end" id="endDateForCreate" class="form-control">
                </div>
                <button v-on:click="updateWorkingtime()" class="">Update</button>
            </div>
        </vs-popup>

        <vs-popup classContent="displayWorkingTimePopUp"  title="Display working time" :active.sync="popupDisplay">
            <table class="table">
            <thead>
                <tr>
                    <th class="text-center">User</th>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                    <th class="text-center">Working Time</th>
                    <th class="text-center">Id</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="workingTime in allWorkingTimes" v-bind:key="workingTime.id">
                    <td class="text-center">{{ workingTime.users }}</td>
                    <td class="date text-center">{{ workingTime.start | moment }}</td>
                    <td class="date text-center">{{ workingTime.end | moment }}</td>
                    <td class="text-center">{{ calcWorkingTime(workingTime.start, workingTime.end) }}</td>
                    <td class="text-center">{{ workingTime.id }}</td>
                    <td class="text-center">
                        <button v-on:click="updateWorkingTimePopUp(workingTime.id)" v-if="info.role_id === 1 || 3"  id="update-working-time" class="btn">
                            <i class="fas fa-pen fa-xs"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button v-on:click="deleteWorkingtime(workingTime.id)" v-if="info.role_id === 1 || 3" id="del-working-time" class="btn">
                            <i class="fas fa-trash-alt fa-xs"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </vs-popup>
  </div>
 
</template>
<script>
import axios from 'axios'
import * as moment from 'moment';
import '../../node_modules/vuesax/dist/vuesax.css'

export default {
  data () {
    return {
      info: null,
      userId:1,
      popupCreate: false,
      popupUpdate:false,
      popupDisplay:false,
      workingTimes: '',
      allWorkingTimes:null,
      start: '',
      end:'',
      idUpdate: null
    }
  },
  created(){
    this.fetchData()
  },
  methods: {
    fetchData(){
      axios
      .get("http://localhost:4000/api/workingtimes/" + this.$login)
      .then((response) => {
        this.workingTimes = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      }),
      axios
      .get("http://localhost:4000/api/users/" + this.$login)
      .then((response) => {
        this.info = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      }),
      axios
      .get("http://localhost:4000/api/workingtimes/")
      .then((response) => {
        this.allWorkingTimes = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
    },
    getworkingtimes: function() {
        var request = 'http://localhost:4000/api/workingtimes/'+this.userId;
            var instance = this;
            axios.get(request).then((response) => { 
                instance.workingTimes = response.data.data
            });
    },
    createWorkingTimePopUp: function() {
        this.popupCreate = true
    },
    getWorkingTimePopUp: function() {
        this.popupDisplay = true
    },
    updateWorkingTimePopUp: function(id) {
        this.popupUpdate = true
        this.idUpdate = id
    },
    createWorkingtimes() {
      axios({
        method: "POST",
        url: "http://localhost:4000/api/workingtimes/" + this.$login,
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          start:this.start,
          end:this.end
        },
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },    
    calcWorkingTime: function(start, end) {
        start = moment(start);
        end = moment(end);
        var diffTime = end.diff(start);
        return moment.utc(diffTime).format("HH[h] mm[m]");
    },
    getworkingtime () {
    axios
      .get('http://localhost:4000/api/workingtimes/'+this.userId)
      .then(response => {
        this.info = response.data.data
      })
      .catch(error => {
        console.log(error)
      })
    },
    deleteWorkingtime (id) {
      axios({
        method: "DELETE",
        url: "http://localhost:4000/api/workingtimes/" + id,
        headers: {
          "Content-Type": "application/json",
        },
        data: {},
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    },
    updateWorkingtime () {
    axios({
        method: "PUT",
        url: "http://localhost:4000/api/workingtimes/" + this.idUpdate,
        headers: {
          "Content-Type": "application/json",
        },
        data: {
          workingtimes: {start:this.start, end:this.end}
        },
      })
        .then((response) => {
          console.log(response);
          this.fetchData();
        })
        .catch((err) => console.log(err));
    }
  }
}
</script>
<style lang="scss">
.inputcustom{
  margin-top: 1.5rem;
}
  .buttoncustom{
    width: 3rem !important;
    margin-left: 1rem;
  }
</style><style>
.table {
    color: #FFF;
    background-color: #0f141c;
}
.table th {
    border: 0;
    background-color: #0f141c;
}
.table tr:nth-child(odd) {
    background-color: #505050;
}
.table tr:nth-child(even) {
    background-color: #333333;
}
.table td{
    border: 0;
}
i {
    color: rgba(179,127,29,1);
}
html,body{
  background-color: #332f2f !important;
  background-image: none !important;
}
</style>