<template>
  <div id="app">
    <div>
      <nav class="navbar navbar-dark primary-color">
        <a class="navbar-brand">    
          <b-button v-b-toggle.sidebar-right  width="30" height="30" >
           <i class="butt fa fa-bars" aria-hidden="true"></i>
          </b-button>
        </a>
      </nav>
    </div>
    <div v-if="isLoggedIn === false">
      <TheLogin @TheLogin::loginResult::loginId="handleLoginResult"/>
    </div>
    <div v-if="isLoggedIn === true">
    <b-sidebar id="sidebar-right" title="Gothime Manager" left shadow>
      
  <div class="sidebar-logo">
    Menu
  </div>
  <ul class="sidebar-navigation">
    <a href="/home">
      <li>
        <i class="fa fa-home" aria-hidden="true"></i> Homepage
      </li>
    </a>
    

    <router-link v-if="info.role_id === 1 || 3" to="/user" class="test">  
      <li>
        <i class="fas fa-user" aria-hidden="true"></i> User
      </li>
    </router-link>

    <router-link to="/workingtimes">
      <li>
        <i class="fas fa-briefcase" aria-hidden="true"></i> Workingtimes
      </li>
    </router-link>

    <router-link to="/chart">
      <li>
        <i class="fas fa-chart-pie" aria-hidden="true"></i> Chart
      </li>
    </router-link>

    <router-link to="/clock">
      <li>
        <i class="fas fa-clock" aria-hidden="true"></i> Clock
      </li>
    </router-link>

  </ul>

    </b-sidebar>


  <!-- Copyright -->

    <router-view/>

    </div>
    
  </div>
  
</template>
<script>
import TheLogin from './components/LoginAndRegister'
import axios from 'axios'
export default {
  components: {
    TheLogin
  },
  data () {
    return {
      info: {
        role_id: ""
      },
      userIsLoggedIn: false,
      userIsLoggedInId:1
    }
  },
  created(){
      axios
      .get("http://localhost:4000/api/users/" + this.userIsLoggedInId)
      .then((response) => {
        this.info = response.data.data;
      })
      .catch((error) => {
        console.log(error);
      })
  },
  computed: {
    isLoggedIn() {
      return this.userIsLoggedIn
    }
  },
  methods: {
    handleLoginResult({loginResult, loginId}) {
      this.userIsLoggedIn = loginResult
      this.userIsLoggedInId = loginId
    }
  }
}
// Déclaration global de JQuery
global.jQuery = require('jquery');
var $ = global.jQuery;
window.$ = $;

// Décalration globale de Raphael
import Raphael from 'raphael'
global.Raphael = Raphael
</script>
<style>
/* *{
  background: rgb(206,219,226);
background: linear-gradient(90deg, rgba(206,219,226,1) 14%, rgba(110,122,190,1) 86%);
} */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.pt-4, .py-4 {
    padding-top: 42.5rem !important;
    bottom: auto;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 1rem;
    background: rgba(179,127,29,1);;
}
#nav a.router-link-exact-active {
  color: (255, 255, 255);
  
}

.b-sidebar {
  background: #151515;
}

.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: black;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color:  rgba(179,127,29,1);
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.bg-light {
    background-color: rgba(179,127,29,1) !important;
}

.size {
    width: 5.rem;
}

.element.style {
    left: 0;
}
.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation a li {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation a li:active,
.sidebar-navigation a li:hover,
.sidebar-navigation a li:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation a:hover {
    text-decoration: none;
}


.sidebar-navigation li::before  {
  background-color:  rgba(179,127,29,1) ;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in ;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: 1;
  opacity: 0.60;
}


.sidebar-navigation li:hover::before {
   text-decoration: none;
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
  color: wheat;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

div.b-sidebar-body  {
    background-color: black;
}


a.router-link-exact-active.router-link-active {
  background-color:  inherit;
  position: sticky;
}


.b-sidebar > .b-sidebar-header {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    background-color: #151515;
    background: #151515;
    color: antiquewhite;
}

.btn-secondary {
    color: #fff;
    background-color: black;
    border-color: #101111;
    position: fixed;
    top: 0;
}

.butt {
  
  left: 0 !important;
}
.b-icon.bi {
    display: inline-block;
    overflow: visible;
    color: #e53935;
    width: 400px;
}


</style>
